<button (click)="navigateTo('')">Go back</button>
<div *ngIf="currentOlympic" class="detail-container">
    <div class="all-title-container">
        <app-general-title [titleText]="currentOlympic.country"></app-general-title>
        <div class="subtitle-container">
            <app-general-subtitle [subtitleText]="'Number of entries'" [nbr]="entriesNbr"></app-general-subtitle>
            <app-general-subtitle [subtitleText]="'Total number medals'" [nbr]="totalMedalNbr"></app-general-subtitle>
            <app-general-subtitle [subtitleText]="'Total number of athletes'" [nbr]="totalAthletesNbr"></app-general-subtitle>
        </div>
    </div>
    <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="results"
        [animations]="false"
        [legend]="true"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [xAxis]="true"
        [yAxis]="true"
        >
    </ngx-charts-line-chart> 
</div>