<button (click)="navigateTo('')">Go back</button>
<div *ngIf="currentOlympic" class="detail-container">
    <app-general-title [titleText]="currentOlympic.country"></app-general-title>
    <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="results"
        [animations]="false"
        [legend]="true"
        [legendTitle]="legendTitle"
        [legendPosition]="legendPosition"
        [xAxis]="true"
        [yAxis]="true"
        >
    </ngx-charts-line-chart> 
</div>
